.contact img {
  max-width: 100%;
}
.contact form-state {
  width: 100%;
}
.contact .field {
  display: block;
  /* margin-bottom: 1.5rem; */
  margin-bottom: 2rem;
}
.contact_title {
  margin: 0 auto;
}
.contact-heading-wrapper {
  padding: 0 4rem;
  text-align: center;
}
.contact_layout {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.contact .field__input,
.contact .field__input:focus,
.contact .field__input:focus-visible,
.contact .select__select {
  box-shadow: 0 0 0 0.1rem rgba(211, 211, 211, 1);
}

.contact .field::before,
.contact .field::after {
  display: none;
}
.contact .title-wrapper {
  max-width: 430px;
}

@media screen and (min-width: 750px) {
  .contact .field {
    /* margin-bottom: 2rem; */
    margin-bottom: 3.5rem;
  }
  .contact_layout {
    flex-direction: row;
    align-items: flex-start;
  }
  .contact-heading-wrapper {
    text-align: left;
  }
  .contact form-state {
    width: 40%;
  }
  .contact_title {
    margin: 1rem 4rem 2rem 0rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact.page-width--inner .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.contact__list {
  padding-top: 3rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 4rem;
}

@media screen and (min-width: 750px) {
  .contact__list {
    padding-top: 0;
    /* padding-inline-start: 6rem; */
    padding-inline-start: 0;
  }
}

.contact__list > li {
  flex: 0 0 100%;
}

/* .contact__list .h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: calc(1 + 0.2 / max(1, var(--font-heading-scale)));
} */

.contact__list .typeset3 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: calc(1 + 0.2 / max(1, var(--font-heading-scale)));
}

.contact__list .link {
  padding-bottom: 0.2rem;
}

.contact__list .list-social {
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact__subheading {
  margin-bottom: 10px;
}

.contact .field__input,
.contact .select__select {
  border-radius: 50px;
  padding: 14px 24px;
  line-height: 2;
  height: unset;
  color: rgb(var(--color-foreground));
  font-size: 16px;
}

.contact textarea.field__input {
  border-radius: 35px;
}

.contact textarea {
  border-radius: 2rem;
}
.contact .select::before,
.select::after {
  display: none;
}
.contact .select svg {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 2rem;
  z-index: 2;
}

.contact .field__input:focus-within,
.contact .select__select:focus-within {
  box-shadow: inset 0 0 0 2px rgb(var(--color-foreground));
}

.contact .field__input::placeholder,
.contact .select__select::placeholder {
  opacity: 1;
}

.contact .form__label {
  margin-bottom: 17px;
  line-height: 1.3;
}

@media screen and (max-width: 749px) {
  .contact .grid .grid__item {
    width: 100%;
    max-width: 100%;
  }

  .contact__list > li {
    flex: 1 0 calc(50% - 1rem);
  }

  .contact .title-wrapper {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .contact__list > li {
    flex: 0 0 100%;
  }
}

.contact-form__input .form__facet-checkbox,
.contact-form__input .form__facet-radio {
  position: relative;
  display: flex;
  align-items: center;
  word-break: break-word;
  line-height: 1.6rem;
  cursor: pointer;
}

.contact-form__input .form__facet-checkbox input[type="checkbox"] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0.1rem;
  width: 0.1rem;
}

.contact-form__input .form__facet-checkbox .icon {
  color: rgb(var(--color-border));
  background-color: rgb(var(--color-background));
  margin-inline-end: 1rem;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
}

.contact-form__input .form__facet-checkbox .icon path:last-child {
  color: rgb(var(--color-foreground));
}

.contact-form__input .form__facet-radio .icon {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-inline-end: 1rem;
  position: relative;
  border: 1px solid rgb(var(--color-border));
  border-radius: 50%;
}

.contact-form__input .form__facet-radio .icon::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  border-radius: 50%;
}

.contact-form__input .form__facet-checkbox .icon path:last-child,
.contact-form__input .form__facet-radio .icon::after {
  opacity: 0;
  transition: opacity var(--duration-short) ease;
}

.contact-form__input
  .form__facet-checkbox
  > input[type="checkbox"]:checked
  ~ .icon-checkmark
  path:last-child,
.contact-form__input
  .form__facet-radio
  > input[type="radio"]:checked
  ~ .icon::after {
  opacity: 1;
}

.contact-form__input fieldset.contact-form__input {
  flex-direction: column;
  row-gap: 1rem;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.contact-form__input input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0.1rem;
  width: 0.1rem;
}
